.movie-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: fadeSlideIn 0.8s ease-out;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.6);
}

.movie-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.info {
  padding: 12px;
  color: #000000;
}

.info h3 {
  font-size: 16px;
  margin: 0 0 4px;
}

.release, .director {
  font-size: 13px;
  color: #888;
}

.status {
  margin-top: 8px;
  font-size: 14px;
}

.status span {
  font-weight: bold;
}

.status .watched {
  color: #4caf50;
}

.rating {
  margin-top: 6px;
  color: #a17900;
  font-weight: bold;
}

.details-btn {
  margin-top: auto;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  color: #444;
}

.details-btn:hover {
  color: #000;
  transform: translateX(4px);
}

.date {
  font-size: 11px;
  color: #888;
  font-style: italic;
}

.fade {
  animation: fadeIn 0.25s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-left {
  display: flex;
  /*justify-content: flex-start;*/
  align-items: center;
}

.delete-right {
  display: flex;
  /*justify-content: flex-end;*/
  align-items: center;
}

.delete-btn {
  background: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #ef4444;
  color: white;
}