<div class="movie-card">
  <img [src]="posterUrl" [alt]="movie.title" />

  <div class="info">
    <h3>{{ movie.movie.title }}</h3>

    <p class="director">
      Director: {{ movie.movie.director }}
    </p>

    <p class="release">
      {{ movie.movie.releaseDate | date: 'yyyy' }}
    </p>

    <p class="status">
      Estado:
      <span [class.watched]="movie.status === 'watched'">
        {{ movie.status === 'watched' ? 'Vista' : 'Pendiente' }}
      </span>
    </p>

    <p *ngIf="movie.rating !== undefined" class="rating">
      ⭐ {{ movie.rating }}/10
    </p>

    <p class="date">
      Agregada:
      {{ movie.createdAt | date: 'mediumDate' }}
    </p>

    <p class="date" *ngIf="movie.updatedAt !== movie.createdAt">
      Actualización:
      {{ movie.updatedAt | date: 'mediumDate' }}
    </p>
    <div class="actions">
      <button
        class="details-btn"
        [routerLink]="['/movies', movie.tmdbId]">
        ➜
      </button>

      <button
        class="delete-btn"
        (click)="onDelete()">
        🗑️
      </button>
    </div>
  </div>
</div>
